{% extends "base.html" %}

{% block heading %}
    <title>
        Community Tree
    </title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Community Garden</h1>
    </div>
    <div class="row-fluid">
        <div id="leaderboard" class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a>
                            <span class="badge">#&nbsp;&nbsp;</span>
                            Neighbourhood
                            <span class="pull-right">Points</span>
                        </a>
                    </li>
                    
                    {% for area in garden %}
                    <li id="{{area.neighbourhood.neighbourhood|replace(' ', '')}}">
                        <a href="?q={{area.neighbourhood.neighbourhood}}">
                            <span class="badge">#{{ loop.index }}</span>
                            {{ area.neighbourhood.neighbourhood }}
                            <span class="pull-right">{{ area.points }}</span>
                        </a>
                    </li>
                    {% endfor %}
                    <script nonce="{{nonce}}">
                        function getParameterByName(name) {
                            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
                            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                                results = regex.exec(location.search);
                            return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
                        }
                        var q = getParameterByName('q').replace(' ', '');
                        $('#' + q).addClass('active');
                    </script>
                </ul>
            </div>
        </div>
        <div id="content" class="span9">
            <div id="content">
                {% if chosen.dry %}
                <img class="img-responsive center-block" src="/images/plant-dying.gif" />
                {% elif chosen.moistureLevel < 200 %}
                <img class="img-responsive center-block" src="/images/plant-dry.gif" />
                {% elif chosen.moistureLevel > 600 %}
                <img class="img-responsive center-block" src="/images/plant-wet.gif" />
                {% else %}
                <img class="img-responsive center-block" src="/images/plant-normal.gif" />
                {% endif %}
<!--
                <div class="alert alert-success" role="alert">
                    <b>Moisture Level:</b> {{ chosen.moistureLevel }}
                </div>
                <div class="alert alert-success" role="alert">
                    <b>Temperature:</b> {{ chosen.temperature }}
                </div>
                <div class="alert alert-success" role="alert">
                    <b>Humidity:</b> {{ chosen.humidity }}
                </div>
                <div class="alert alert-success" role="alert">
                    <b>Heat Index:</b> {{ chosen.heatIndex }}
                </div>
-->
                
<!--
                <script type="text/javascript" src="https://www.google.com/jsapi"></script>
                <script type="text/javascript" nonce="{{nonce}}">
                    google.load("visualization", "1", {packages:["gauge"]});
                    google.setOnLoadCallback(drawChart);
                    function drawChart() {
                        var moistureData = google.visualization.arrayToDataTable([
                            ['Label', 'Value'],
                            ['Moisture', {{ chosen.moistureLevel }}]
                        ]);
                        
                        var moistureOptions = {
                            width: 240, height: 240,
                            redFrom: 0, redTo: 240,
                            redColor: '#ff9900',
                            yellowFrom: 720, yellowTo: 1000,
                            greenFrom: 240, greenTo: 720,
                            minorTicks: 5,
                            majorTicks: [0, 200, 400, 600, 800, 1000],
                            min: 0, max: 1000
                        };
                        
                        var chart = new google.visualization.Gauge(document.getElementById('moisture_div'));
                        chart.draw(moistureData, moistureOptions);
                        
                        
                        
                        var temperatureData = google.visualization.arrayToDataTable([
                            ['Label', 'Value'],
                            ['°C', {{ chosen.temperature }}]
                        ]);
                        
                        var temperatureOptions = {
                            width: 240, height: 240,
                            redFrom: 32, redTo: 50,
                            redColor: '#ff9900',
                            yellowFrom: 0, yellowTo: 25,
                            greenFrom: 25, greenTo: 32,
                            minorTicks: 5, 
                            majorTicks: [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
                            min: 0, max: 50
                        };
                        
                        var chart = new google.visualization.Gauge(document.getElementById('temp_div'));
                        chart.draw(temperatureData, temperatureOptions);
                        
                        
                        
                        
                        var humidityData = google.visualization.arrayToDataTable([
                            ['Label', 'Value'],
                            ['Humidity', {{ chosen.humidity }}]
                        ]);
                        
                        var humidityOptions = {
                            width: 240, height: 240,
                            redFrom: 0, redTo: 65,
                            redColor: '#ff9900',
                            yellowFrom: 95, yellowTo: 100,
                            greenFrom: 65, greenTo: 95,
                            min: 0, max: 100
                        };
                        
                        var chart = new google.visualization.Gauge(document.getElementById('humidity_div'));
                        chart.draw(humidityData, humidityOptions);
                        
                        
                        
                        
                        var heatIndexData = google.visualization.arrayToDataTable([
                            ['Label', 'Value'],
                            ['Heat Index', {{ chosen.heatIndex }}]
                        ]);
                        
                        var heatIndexOptions = {
                            width: 240, height: 240,
                            redFrom: 38, redTo: 60,
                            redColor: '#ff9900',
                            yellowFrom: 0, yellowTo: 25,
                            greenFrom: 25, greenTo: 38,
                            min: 0, max: 60
                        };
                        
                        var chart = new google.visualization.Gauge(document.getElementById('hindex_div'));
                        chart.draw(heatIndexData, heatIndexOptions);
                    }
                </script>
                <div class="gauges">
                    <div class="centered">
                        <div id="moisture_div"></div>
                        <div id="temp_div"></div>
                    </div>
                    <div class="centered">
                        <div id="humidity_div"></div>
                        <div id="hindex_div"></div>
                    </div>
                </div>
-->
                
                <h4>Moisture:</h4>
                <div class="progress moisture">
                    <div class="progress-bar progress-bar-danger moisture-red">
                    </div>
                    <div class="progress-bar progress-bar-success moisture-green">
                    </div>
                    <div class="progress-bar progress-bar-warning moisture-orange">
                    </div>
                    <div class="progress-bar absolute moisture-level">
                        {{ chosen.moistureLevel }}
                    </div>
                </div>
                
                <h4>Temperature (°C):</h4>
                <div class="progress temperature">
                    <div class="progress-bar progress-bar-warning temperature-orange">
                    </div>
                    <div class="progress-bar progress-bar-success temperature-green">
                    </div>
                    <div class="progress-bar progress-bar-danger temperature-red">
                    </div>
                    <div class="progress-bar absolute temperature-level">
                        {{ chosen.temperature }}
                    </div>
                </div>
                
                <h4>Humidity (%):</h4>
                <div class="progress humidity">
                    <div class="progress-bar progress-bar-danger humidity-red">
                    </div>
                    <div class="progress-bar progress-bar-success humidity-green">
                    </div>
                    <div class="progress-bar progress-bar-warning humidity-orange">
                    </div>
                    <div class="progress-bar absolute humidity-level">
                        {{ chosen.humidity }}
                    </div>
                </div>
                
                <h4>Heat Index:</h4>
                <div class="progress heat-index">
                    <div class="progress-bar progress-bar-warning heat-index-orange">
                    </div>
                    <div class="progress-bar progress-bar-success heat-index-green">
                    </div>
                    <div class="progress-bar progress-bar-danger heat-index-red">
                    </div>
                    <div class="progress-bar absolute heat-index-level">
                        {{ chosen.heatIndex }}
                    </div>
                </div>
                <script nonce="{{nonce}}">
                    var progressBarWidth = $(".progress").width();
                    
                    $(".moisture-red").width("24%");
                    $(".moisture-green").width("52%");
                    $(".moisture-orange").width("24%");
                    var moistureLevel = ("{{ chosen.moistureLevel }}" / 1000.0) * progressBarWidth;
                    $(".moisture-level").width(moistureLevel + "px");
                    
                    $(".temperature-orange").width("13%");
                    $(".temperature-green").width("47%");
                    $(".temperature-red").width("40%");
                    var temperature = ("{{ chosen.temperature }}" / 50.0) * progressBarWidth;
                    $(".temperature-level").width(temperature + "px");
                    
                    $(".humidity-red").width("64%");
                    $(".humidity-green").width("32%");
                    $(".humidity-orange").width("4%");
                    var humidity = ("{{ chosen.humidity }}" / 100.0) * progressBarWidth;
                    $(".humidity-level").width(humidity + "px");
                    
                    $(".heat-index-orange").width("25%");
                    $(".heat-index-green").width("25%");
                    $(".heat-index-red").width("50%");
                    var heatIndex = ("{{ chosen.heatIndex }}" / 60.0) * progressBarWidth;
                    $(".heat-index-level").width(heatIndex + "px");
                </script>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}