{% extends "base.html" %}

{% block heading %}
    <title>iWitness</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>iWitness</h1>
        </div>
        
        <div id="twitter-feed">
            {% for item in crimes %}
            <blockquote class="twitter-tweet">
                <p>
                    <a class="tweet-crime" href="{{item.url}}">
                        {% if item.picture %}
                        <img class="img-responsive" src="{{item.picture}}" />
                        {% endif %}
                        <p class="tweet-text">
                            {{item.content}}
                        </p>
                        <div class="tweet-date">
                            {{item.posted.strftime("%A, %d %B %Y - %I:%M %p")}}
                        </div>
                    </a>
                </p>
            </blockquote>
            <hr>
            {% endfor %}
        </div>
    </div>

{% endblock %}