{% extends "base.html" %}

{% block heading %}
    <title>
        Admin: Flagged Reports
    </title>
{% endblock %}
{% block content %}
    <div class="container">
        <h2 id="content-main-heading" class="page-header">Flagged Reports</h2>
        
        <div class="profile-reports">
            <div class="container">
                <div class="list-group">
                    {% for report in reportList %}
                        {{ report[1].render(currentUser, userType, report[0]) | safe }}
                    <div class="container-fluid">
                        <ul class="list-group">
                            {% for flag in reports %}
                                {% if flag.reportId == report[2] %}
                            <li class="list-group-item">
                                    {{ flag.reportReason }}
                                    {% if flag.reportReason == "Others" %}
                                <br>
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                        {{ flag.reasonOther }}
                                    {% endif %}
                            </li>
                                {% endif %}
                            {% endfor %}
                            <br><br>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}