{% extends "happenings-base.html" %}

{% block additional_heading %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
{% endblock %}

{% block main_content %}
    <div id="leaderboard" class="span3">
        <div class="well sidebar-nav">
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a>
                        <span class="badge">Filter News Feed</span>
                    </a>
                </li>

                <li id="google">
                    <a class="news-filter" href="?q=google">
                        Google News
                    </a>
                </li>
                <li id="yahoo">
                    <a class="news-filter" href="?q=yahoo">
                        Yahoo News
                    </a>
                </li>
                <li id="today">
                    <a class="news-filter" href="?q=today">
                        TODAYonline
                    </a>
                </li>
                <li id="asiaone">
                    <a class="news-filter" href="?q=asiaone">
                        AsiaOne
                    </a>
                </li>
                <li id="straitstimes">
                    <a class="news-filter" href="?q=straitstimes">
                        The Straits Times
                    </a>
                </li>
                <li id="channelnewsasia">
                    <a class="news-filter" href="?q=channelnewsasia">
                        Channel NewsAsia
                    </a>
                </li>
                <li id="xinmsn">
                    <a class="news-filter" href="?q=xin.msn">
                        xinmsn News
                    </a>
                </li>

                <script nonce="{{nonce}}">
                    function getParameterByName(name) {
                        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
                        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                        results = regex.exec(location.search);
                        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
                    }


                    $.cergis = $.cergis || {};
                    $.cergis.loadContent = function () {
                        $.ajax({
                            url: pageUrl + '?type=ajax',
                            success: function (data) {
                                query = pageUrl.slice(pageUrl.indexOf('=') + 1);
                                loadFeedControl(query);
                            }
                        });
                        if (pageUrl != window.location) {
                            window.history.pushState({ path: pageUrl }, '', pageUrl);
                        }
                    }
                    $.cergis.backForwardButtons = function () {
                        $(window).on('popstate', function () {
                            $.ajax({
                                url: location.pathname + '?type=ajax',
                                success: function (data) {
                                    query = location.href.slice(location.href.indexOf('=') + 1);
                                    loadFeedControl(query);
                                }
                            });
                        });
                    }
                    $(".news-filter").on('click', function (e) {
                        thisHref = $(this).attr('href');
                        var q = thisHref.slice(thisHref.indexOf('=') + 1);
                        q = q.replace(' ', '');
                        var qId = q.replace('.', '');
                        if ($('#' + qId).hasClass('active')) {
                            pageUrl = $(this).attr('href');
                            pageUrl = pageUrl.slice(0, pageUrl.indexOf('?'));
                        } else {
                            pageUrl = $(this).attr('href');
                        }
                        $.cergis.loadContent();
                        $('#' + qId).toggleClass('active');
                        $('#' + qId).siblings().removeClass('active');
                        e.preventDefault();
                    });
                    $.cergis.backForwardButtons();

                    window.onload = function() {
                        var q = getParameterByName('q').replace(' ', '');
                        var qId = q.replace('.', '');
                        $('#' + qId).addClass('active');
                        pageUrl = "?q=" + q;
                        $.cergis.loadContent();
                    }
                </script>
            </ul>
        </div>
    </div>
    <div id="content" class="span9">
        <div id="news-feed"></div>
    </div>
    
    <script type="text/javascript" nonce="{{nonce}}" async>
        google.load("feeds", "1");
        
        function loadFeedControl(q) {
            //q = pageUrl.slice(pageUrl.indexOf('=') + 1);
            var filter = false;
            if (typeof q == "string") {
                filter = true;
            }
            var feed = new google.feeds.Feed("http://pipes.yahoo.com/pipes/pipe.run?_id=aeb28cc985fb5d3b1fd60840c8d2ea8e&_render=rss");
            //feed.includeHistoricalEntries();
            feed.setNumEntries(100);
            feed.setResultFormat(google.feeds.Feed.MIXED_FORMAT);
            feed.load(function(result) {
                if (!result.error) {
                    var container = document.getElementById("news-feed");
                    var html = '';
                    for (var i = 0; i < result.feed.entries.length; i++) {
                        var entry = result.feed.entries[i];
                        var host = document.createElement('a');
                        host.href = entry.link;
                        host = host.hostname.toString();
                        
                        var mediaSrc = "";
                        if (host.indexOf("asiaone") != -1) {
                            mediaSrc = "AsiaOne";
                        } else if (host.indexOf("straitstimes") != -1) {
                            mediaSrc = "The Straits Times";
                        } else if (host.indexOf("today") != -1) {
                            mediaSrc = "TODAYonline";
                        } else if (host.indexOf("google") != -1) {
                            mediaSrc = "Google News";
                        } else if (host.indexOf("channelnewsasia") != -1) {
                            mediaSrc = "Channel NewsAsia";
                        } else if (host.indexOf("yahoo") != -1) {
                            mediaSrc = "Yahoo News";
                        } else if (host.indexOf("xin.msn") != -1) {
                            mediaSrc = "xinmsn News";
                        }
                        
                        if (filter) {
                            if (host.indexOf(q) != -1) {
                                html += '<div class="media">' + '<div class="media-body"><h4 class="media-heading">' + entry.title + '</h4><p>' + entry.contentSnippet + '</p><small>' + new Date(entry.publishedDate).toLocaleString() + '</small></div><a class="pull-left" href="' + entry.link + '" target="_blank"><span class="glyphicon glyphicon-share-alt"></span> View full article on ' + mediaSrc + '</a></div><hr>';
                            }
                        } else {
                        html += '<p><div class="media">' + '<div class="media-body"><h4 class="media-heading">' + entry.title + '</h4><p>' + entry.contentSnippet + '</p><small>' + new Date(entry.publishedDate).toLocaleString() + '</small></div><a class="pull-left" href="' + entry.link + '" target="_blank"><span class="glyphicon glyphicon-share-alt"></span> View full article on ' + mediaSrc + '</a></div></p><hr>';
                        }
                    }
                    container.innerHTML = html;
                    
                }
            });
        }
        google.setOnLoadCallback(loadFeedControl);
        setInterval(loadFeedControl, 60000);
    </script>

{% endblock %}