{% extends "lost-base.html" %}

{% block title %}
    Lost {{heading}}
{% endblock %}

{% block rel %}
    {% if currentPage != 1 %}
    <link rel="prev" href="/lost/{{heading.lower()}}?q={{ currentPage-1 }}">
    {% endif %}
    <link rel="next" href="/lost/{{heading.lower()}}?q={{ currentPage+1 }}">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
    <script nonce={{nonce}}>window.jQuery || document.write("<script src='/js/jquery-1.6.1.js'>\x3C/script>")</script>
    <script src="/js/jquery.infinitescroll.js"></script>

{% endblock %}
{% block body %}
    <div class="page-header">
        <h2 id="content-main-heading">Missing {{heading}}</h2>
    </div>
    <div class="list-group" id="content">
        {% for report in content %}
            {{ report.render(currentUser, userType, heading) | safe }}
        {% endfor %}
    </div>
    <ul class="pagination invisible">
        {% for i in range(numPages) %}
            <li><a href="?q={{ i+1 }}">{{i+1}}</a></li>
        {% endfor %}
        {% if nextPage %}
            <li><a id="next" href="?q={{ currentPage+1 }}">Next</a></li>
        {% endif %}
    </ul>
<script nonce={{nonce}}>
  $('#content').infinitescroll({
      loading: {
          finished: undefined,
          finishedMsg: "<em>No more reports can be found.</em>",
          msg: null,
          msgText: "<em>Loading the next set of reports...</em>"
      },
 
    navSelector  : "#next:last",            
                   // selector for the paged navigation (it will be hidden)
    nextSelector : "a#next:last",    
                   // selector for the NEXT link (to page 2)
    itemSelector : ".panel",        
                   // selector for all items you'll retrieve
    behavior		: 'twitter'
  }, function (newElements) {
      addthis.toolbox('.addthis_toolbox');
      addthis.init();
  });
    
    $('#otherReportField').focus(function() {$('#otherReport').prop('checked', true)});
    $('#flagButton').click(function() {$('#flagForm').submit()});
</script>
{% endblock %}