{% extends "base.html" %}

{% block heading %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% block rel %}
    {% endblock %}
    <script src="/js/bootstrap-datetimepicker.js"></script>
    <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <script nonce={{nonce}}>
        $(document).ready(function() {
            var currentPath = window.location.pathname;

            if (currentPath.search('people') != -1) {
                $(".list-group-item:first").addClass("active");
            } else if (currentPath.search('pets') != -1) {
                $(".list-group-item:nth-child(2)").addClass("active");
            } else if (currentPath.search('belongings') != -1) {
                $(".list-group-item:last").addClass("active");
            }
        });
    </script>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-sm-3 col-md-2 col-lg-2">
                <!-- Sidebar -->
                <div class="list-group">
                    <a href="/lost/people" class="list-group-item">
                        People
                    </a>
                    <a href="/lost/pets" class="list-group-item">
                        Pets
                    </a>
                    <a href="/lost/belongings" class="list-group-item">
                        Belongings
                    </a>
                </div>
                <div class="text-center">
                    <a href="/lost/report">
                        <button type="button" class="btn btn-warning">
                            Report Lost
                        </button>
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-10 col-lg-10">
                <!-- Body -->
                <div role="main" class="jumbotron" id="timeline">
                    <div class="container">
                        {% block body %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}