{% if report.found %}
<div class="panel panel-success">
{% else %}
<div class="panel panel-default">
{% endif %}
    <div class="panel-heading">
        <a href="/lost/{{report.type}}/{{ report.key().id() }}">
            <!--<h3 class="panel-title">{{ report.name }}</h3>-->
            <div class="text-right">
                {{ report.created.strftime("%b %d, %Y") }} 
                &nbsp;|&nbsp;
                {{ report.created.strftime("%I:%M %p") }}
            </div>
        </a>
        <div class="dropdown pull-right">
            <button class="btn dropdown-toggle" type="button" id="overflow" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="overflow">
                {% if report.currentUser == report.user or report.userType == "admin" %}
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/lost/{{report.type}}/{{report.key().id()}}/found">
                    {% if report.found %}
                    <span class="glyphicon glyphicon-ok"></span>
                    {% endif %}
                    Mark as Found
                </a></li>
                {% else %}
                <li role="presentation"><a role="menuitem" class="dropdown-toggle" tabindex="-1" data-toggle="modal" data-target="#flagModal{{report.key().id()}}"><span class="glyphicon glyphicon-flag"></span> Flag Report</a></li>
                {% endif %}
            </ul>
            
        </div>
    </div>
    <div class="panel-body">
        <div class="col-md-3">
            {% if report.photo %}
                <img class="media-object img-responsive" src="{{ report.photo }}">
            {% else %}
                <img class="media-object img-responsive" src="/images/no-img.png">
            {% endif %}
            {% if report.found %}
            <div class="report-img">
                <img class="media-object img-responsive" src="/images/found.png">
            </div>
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="form-group">
                {% if report.type == "belongings" %}
                    <div class="col-sm-3">Item:</div>
                {% else %}
                    <div class="col-sm-3">Name:</div>
                {% endif %}
                <div class="col-sm-9">{{ report.name }}</div>
            </div>
            <br>
            {% if report.age %}
                <div class="form-group">
                    <div class="col-sm-3">Age:</div>
                    <div class="col-sm-9">{{ report.age }}</div>
                </div>
                <br>
            {% endif %}
            <div class="form-group">
                <div class="col-sm-3">Last Seen:</div>
                <div class="col-sm-9">{{ report.lastSeenAt }}</div>
            
                <br>
                <div>
                    <div class="col-sm-offset-3 col-sm-9">
                        {{ report.lastSeenTime.strftime("%d %b %Y") }}
                    </div>
                </div>
                <br>
                <div>
                    <div class="col-sm-offset-3 col-sm-9">
                        {{ report.lastSeenTime.strftime("%I:%M %p") }}
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="col-sm-3">Contact:</div>
                <div class="col-sm-9">{{ report.contactDetails }}</div>
            </div>
            <br>
            {% if report.additionalDetails %}
            <div class="form-group">
                <div class="col-sm-3">Additional Details:</div>
                <div class="col-sm-9">
                    {% for line in report.additionalDetails.splitlines() %}
                        {{ line }}<br>
                    {% endfor %}
                </div>
            </div>
            <br>
            {% endif %}
            <br>
            <div class="col-sm-10">
                <div class="addthis_toolbox addthis_default_style  addthis_32x32_style"  addthis:url="http://cenplusplus.appspot.com/lost/{{report.type}}/{{report.key().id()}}" addthis:title="{{report.name}} is lost and needs your help! Last seen at {{report.lastSeenAt}}.">
                    <a class="addthis_button_facebook"></a>
                    <a class="addthis_button_twitter"></a>
                    <a class="addthis_button_email"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        {% if report.currentUser == report.user or report.userType == "admin" %}
            <div class="btn-group">
                <a href="/lost/{{report.type}}/{{ report.key().id() }}/edit" class="btn btn-default">Edit</a>
            </div>
        
        
            <div class="btn-group">
                <a data-toggle="modal" data-target="#deleteModal{{report.key().id()}}" class="btn btn-danger">Delete</a>
            </div>    
            <div class="modal fade" id="deleteModal{{report.key().id()}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Confirm</h4>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this report?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                            <a href="/lost/{{report.type}}/{{ report.key().id() }}/delete" class="btn btn-primary">Yes</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if report.currentUser != report.user %}
            Posted By:
            <a href="/{{ report.user }}">
                <i>{{ report.user }}</i>
            </a>
        
            <div class="modal fade" id="flagModal{{report.key().id()}}" role="dialog" aria-labelledby="flagModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Flag</h4>
                        </div>
                        <div class="modal-body">
                            <form role="form" id="flagForm" method="post" action="/lost/{{report.type}}/{{report.key().id()}}/flag">
                                What's the problem?
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="flagReport" id="fakeReport" value="Fake Report" checked>
                                        Fake Report
                                    </label> 
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="flagReport" id="spamReport" value="Spam">
                                        Spam
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="flagReport" id="wrongCategoryReport" value="Wrong Category">
                                        Wrong Category
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="flagReport" id="otherReport" value="Others">
                                        Others

                                        <div class="form-group">
                                            <input type="text" class="form-control" id="otherReportField" name="otherReportField">
                                        </div>
                                    </label>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-danger" id="flagButton">Report</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        
        <div class="pull-right">
            {% if not (report.created.strftime("%I:%M %p") == report.lastModified.strftime("%I:%M %p") and (report.created.strftime("%b %d, %Y") == report.lastModified.strftime("%b %d, %Y"))) %}
                Last Modified:
                {{ report.lastModified.strftime("%b %d, %Y") }}
                &nbsp;|&nbsp;
                {{ report.lastModified.strftime("%I:%M %p") }}
            {% endif %}
        </div>
    </div>
</div>