{% extends "base.html" %}

{% block heading %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <script nonce="{{nonce}}">
        $(document).ready(function() {
            var currentPath = window.location.pathname;

            if (currentPath.search('people') != -1) {
                $(".list-group-item:first").addClass("active");
            } else if (currentPath.search('pets') != -1) {
                $(".list-group-item:nth-child(2)").addClass("active");
            } else if (currentPath.search('belongings') != -1) {
                $(".list-group-item:last").addClass("active");
            }
        });
    </script>
{% endblock %}
{% block content %}
    <div class="container">
        <!-- Body -->
        {% block body %}
        {% endblock %}
    </div>
{% endblock %}