{% extends "profile-base.html" %}

{% block title %}
    {{ userPage.username }}
{% endblock %}

{% block body %}
    <h2 id="content-main-heading" class="page-header">{{ userPage.username }}</h2>
    <div class="container-fluid">
        <div class="profile-header">
            <div class="container">
                <div class="col-md-4">
                    <div class="thumbnail">
                        {% if photo %}
                            <img class="media-object img-responsive" src="{{ photo }}">
                        {% else %}
                            <img class="media-object img-responsive" src="/images/no-img.png">
                        {% endif %}
                    </div>
                </div>
                <div class="profile-overview">
                    <div class="col-md-8">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-md-9">
                                    <p>
                                        <div class="col-sm-3">
                                            Email: 
                                        </div>
                                        <div class="col-sm-9">
                                            <a href="mailto:{{userPage.email}}">
                                                {{ userPage.email }}
                                            </a>
                                        </div>
                                    </p>
                                    <br>
                                    <p>
                                        <div class="col-sm-3">
                                            Contact: 
                                        </div>
                                        <div class="col-sm-9">
                                            {{ userPage.phone }}
                                        </div>
                                    </p>
                                    <br>
                                    {% if userPage.gender == "male" %}
                                    <p>
                                        <div class="col-sm-3">
                                            Gender: 
                                        </div>
                                        <div class="col-sm-9">
                                            Male
                                        </div>
                                    </p>
                                    {% elif userPage.gender == "female" %}
                                    <p>
                                        <div class="col-sm-3">
                                            Gender: 
                                        </div>
                                        <div class="col-sm-9">
                                            Female
                                        </div>
                                    </p>
                                    {% endif %}
                                    <br>
                                    <p>
                                        <div class="col-sm-3">
                                            Join Date: 
                                        </div>
                                        <div class="col-sm-9">
                                            {{ userPage.joinDate.strftime("%d %b %Y") }}
                                        </div>
                                    </p>
                                </div>
                                <p>
                                    <div class="pull-right">
                                        {% if qr %}
                                        <img class="media-object img-responsive" src="data:image/png;base64,{{qr}}">
                                    {% endif %}
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-reports">
            <h3 id="content-report-heading" class="page-header">
                <span class="label label-default">
                    Reports
                </span>
            </h3>
            <div class="container">
                <div class="list-group">
                    {% for report in reports %}
                        {{ report[0].render(currentUser, userType, report[1]) | safe }}
                        <br><br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" nonce="{{nonce}}">
        $('#otherReportField').focus(function() {$('#otherReport').prop('checked', true)});
        $('#flagButton').click(function() {$('#flagForm').submit()});
    </script>
{% endblock %}
