{% extends "lost-base.html" %}

{% block title %}
    Lost {{heading}}
{% endblock %}

{% block rel %}
<!-- Twitter Card -->
{% endblock %}

{% block body %}
    <div class="page-header">
        <h2 id="content-main-heading">Missing {{heading}}</h2>
    </div>

    <div class="list-group">
        {{ report.render(currentUser, userType, heading) | safe }}
    </div>
    <script type="text/javascript" nonce="{{nonce}}">
        $('#otherReportField').focus(function() {$('#otherReport').prop('checked', true)});
        $('#flagButton').click(function() {$('#flagForm').submit()});
    </script>
{% endblock %}