{% extends "base.html" %}

{% block heading %}
    <title>Sign Up</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Signup</h1>
        </div>
        <form method="post" class="form-horizontal"
              enctype="multipart/form-data" role="form">
            <div class="form-group">
                <label for="inputUsername" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="inputUsername" placeholder="Username" name="username" value="{{username}}">
                </div>
                <p class="help-block">{{error_username}}</p>
            </div>

            <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-3">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" value="">
                </div>
                <p class="help-block">{{error_password}}</p>
            </div>

            <div class="form-group">
                <label for="inputPassword2" class="col-sm-2 control-label">Verify Password</label>
                <div class="col-sm-3">
                    <input type="password" class="form-control" id="inputPassword2" placeholder="Password" name="verify" value="">
                </div>
                <p class="help-block">{{error_verify}}</p>
            </div>

            <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="inputEmail" placeholder="Email Address" name="email" value="{{email}}">
                </div>
                <p class="help-block">{{error_email}}</p>
            </div>
            
            <div class="form-group">
                <label for="inputPhone" class="col-sm-2 control-label">Phone</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="inputPhone" data-mask="99999999" placeholder="Phone" name="phone" value="{{phone}}">
                </div>
                <p class="help-block">{{error_phone}}</p>
            </div>
            
            <div class="form-group">
                <label for="inputGender" class="col-sm-2 control-label">Gender</label>
                <div class="col-sm-3">
                    <label class="radio-inline">
                        <input type="radio" name="gender" id="genderMale" value="male">
                            Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" id="genderFemale" value="female">
                            Female
                    </label>
                </div>
                <p class="help-block">{{error_gender}}</p>
                <input type="hidden" id="genderHidden" name="gender" value="{{gender}}">
            </div>
            
            <div class="form-group">
                <label for="inputLocation" class="col-sm-2 control-label">Neighbourhood</label>
                <div class="col-sm-3">
                    <select class="form-control" id="inputLocation" name="location">
                        <option>ALJUNIED</option>
                        <option>ANCHORVALE</option>
                        <option>ANG MO KIO</option>
                        <option>BEDOK</option>
                        <option>BOON LAY</option>
                        <option>SIMEI</option>
                        <option>CHUA CHU KANG</option>
                        <option>CLEMENTI</option>
                        <option>DOVER</option>
                        <option>EUNOS</option>
                        <option>HOUGANG</option>
                        <option>KALLANG</option>
                        <option>TAMPINES</option>
                    </select>
                </div>
                <input type="hidden" id="locationHidden" name="location" value="{{location}}">
                <script type="text/javascript" nonce="{{nonce}}">
                    if (document.getElementById("locationHidden").value !== "") {
                        $('#inputLocation').
                        val(document.getElementById("locationHidden").value);
                    }
                    
                    if (document.getElementById("genderHidden").value === "male") {
                        document.getElementById("genderMale").checked = true;
                    } else if (document.getElementById("genderHidden").value === "female") {
                        document.getElementById("genderFemale").checked = true;
                    }
                    
                    $('#inputUsername').blur(function() {isEmpty($(this))});
                    $('#inputPassword').blur(function() {isEmpty($(this))});
                    $('#inputPassword2').blur(function() {isEmpty($(this))});
                    $('#inputEmail').blur(function() {isEmpty($(this))});
                    $('#inputPhone').blur(function() {isEmpty($(this))});
                </script>
            </div>
            
            <div class="form-group">
                <label for="inputPhoto" class="col-sm-2 control-label">Profile Picture</label>
                <div class="col-sm-3">

                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-new-thumbnail">
                            <img class="img-responsive" data-src="holder.js/100%x100%">
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail"></div>
                        <div>
                            <span class="btn btn-default btn-file">
                                <span class="fileinput-new">
                                    Upload
                                </span>
                                <span class="fileinput-exists">
                                    Upload
                                </span>
                                <input type="file" id="inputPhoto" name="photo">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <p class="help-block"></p>
                    <button type="submit" class="btn btn-default">Register</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}